[submodule "Nutcracker/vendor/spdlog"]
	path = Nutcracker/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Nutcracker/vendor/GLFW"]
	path = Nutcracker/vendor/GLFW
	url = https://github.com/TheCherno/glfw
